/* 
* Countries 
*/

.countries-list>ul {
	padding: 0;
}

/*
* Tile for country
*/

.country__tile {
	position: relative;
    overflow: hidden;
    z-index: 1;
	box-sizing: border-box;
	
	font-size: 1rem;
    font-weight: 400;
    
    background: #fff;
	border: 1px solid #c0c0c0;
    border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.country__tile .country__flag {
	position: absolute;
	top: 0.5rem;
	right: 0.5rem;
	width: 4rem;
}
.country__tile .country__title {
	padding: 1rem;
	min-height: 66px;
	margin-right: 5rem;
}
.country__tile .country__title > h3 {
	padding: 0;
	margin: 0;
}
.country__tile .country__place {
	border-top:1px solid #c0c0c0;
	padding: 1rem;
	min-height: 86px;
}
.country__tile .country__money {
	border-top:1px solid #c0c0c0;
	padding: 1rem;
}
.country__tile .place__region {
	display: block;
}
.country__tile .place__city {
	display: block;
}
.country__tile .place__region::before {
	content: '\f0ac';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.country__tile .place__city::before {
	content: '\f1ad';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.country__tile .money__income-level {
	display: block;
}
.country__tile .money__lending-type {
	display: block;
}
.country__tile .money__income-level::before {
	content: '\f0d6';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}
.country__tile .money__lending-type::before {
	content: '\f09d';
	font-family: FontAwesome;
	margin-right: 0.5rem;
}

/*
* Listitem for country
*/
.country__listitem {
	position: relative;
    overflow: hidden;
    z-index: 1;
	box-sizing: border-box;
	
	font-size: 1rem;
    font-weight: 400;
    
    background: #fff;
	border: 1px solid #c0c0c0;
    border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.country__listitem .country__flag {
	position: absolute;
	top: 0.5rem;
	left: 0.5rem;
	width: 2.5rem;
}
.country__listitem .country__title {
	padding: 1rem;
	min-height: 36px;
	margin-left: 3rem;
}
.country__listitem .country__title > h3 {
	padding: 0;
	margin: 0;
}


@media (min-width: 30rem) {
	.country__tile .country__title {
		min-height: 112px;
	}
	.country__tile .country__place {
		min-height: 96px;
	}
}