html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Body */
body {
	background: #FAFAFA;
	
	font-family: Montserrat, sans-serif;
}

/*
* Header
*/
.header-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 998;
	
	background: #00917A;
}
.header-wrapper > div > div > div {
	margin-bottom: 0;
}
.header::before, #header::after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
}
.header::after {
	clear: both;
}
.header__logo {
	float: left;
	margin-top: 1.6rem;
	margin-bottom: 1.6rem;
}
.header__logo > h1 {
	margin: 0;
	padding: 0;
}
.header__logo > h1 > a {
	display: none;

}
.header__logo > h1 > a > span {
	display: none;
}
.header__logo > h2 {
	display: none;
}
.header__navigation-toggle {
	position: relative;
	left:0.4rem;
	bottom:0.3rem;
	float:left;
	margin-top: 0.5rem;
	
	text-decoration: none;
	color: #FAFAFA;
}
.nav_toggle {
	margin-top: 0.2rem;
	width:40px;
	height:40px;
	border-radius: 20%;
	background-color: #EBDB0A;
}
.header__navigation-toggle::before {
	display: block;
	content: '\f0c9';
	
	font-family: FontAwesome;
	font-size: 2rem;
	
	transition: all 320ms ease-out 0s;
}
.offcanvas-open .header__navigation-toggle::before,
.headernav-open .header__navigation-toggle::before {
	transform: rotate(90deg);
	transition: all 320ms ease-out 0s;
}
.header__navigation-toggle > span {
	display: none;
}
.header__navigation {
	float: left;
	width: 100%;
	display: none;	
}
.headernav-open #header__navigation {
	display: block;
}
.header__navigation > ul {
	list-style: none;
	
	margin: 0;
	padding: 0;
}
.header__navigation > ul > li {
	float: left;
	width: 100%;
}
.header__navigation .navigation__item {
	/*display: block;*/
	height: 32px;
	line-height: 32px;
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 2rem;
	padding-right: 2rem;



	background: #5C150E;

	text-decoration: none;
	color: rgba(250,250,250, 1);
	font-weight: 700;
	text-transform: uppercase;

}
/*hover nav*/
.header__navigation .navigation__item:hover {
	 background-color: #EBDB0A;
 }
.header__navigation li:nth-of-type(2) .navigation__item:hover {
	background-color: #EBDB0A;

}
.header__navigation li:nth-of-type(3) .navigation__item:hover {
	background-color: #EBDB0A;

}
.header__navigation li:nth-of-type(4) .navigation__item:hover {
	background-color: #EBDB0A;

}
.header__navigation li:nth-of-type(5) .navigation__item:hover {
	background-color: #EBDB0A;
}

.header__navigation li:first-child .navigation__item {
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-left:12px;

}
.header__navigation li:nth-of-type(2) .navigation__item {
	background: #5C150E;


}
.header__navigation li:nth-of-type(3) .navigation__item {
	background: #5C150E;


}

.header__navigation li:nth-of-type(4) .navigation__item {
	background: #5C150E;
}
.header__navigation li:nth-of-type(5) .navigation__item {
	background: #5C150E;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.new {
	margin: 0 auto;
	display: block;
	position: relative;
	top: 90px;
	padding-bottom: 100px;
	height: 150px;
	width: 150px;
	margin-bottom: 90px;

	background: url('../images/logo.png') no-repeat;
	background-size: cover;
}
.intro {
	margin-bottom: 40px;
	text-align: center;
	position: relative;
	top:30px;

}
.starten {
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;
	text-decoration: none;
	color: #FAFAFA;
	padding: 5px 10px 5px 10px;
	border-radius: 10px;
	background-color: #00917A;
}
.starten:hover {
	background-color: #EBDB0A;
}
.vragen {
	position: relative;
	top: 10px;
	padding-bottom: 100px;

}
select {
	width: 210px;
}
.invoer > select {
	border-radius: 5px;
	border: solid 1px;
	border-color: #5C150E;
	padding-bottom: 12px;
	padding-right: 140px;

	
}
.Wtitel {
	float: left;
	font-size: 13px;
	margin-right: 10px;
	margin-left: 5px;


}
.weather-widget {
	width: 235px;
	display: inline-block;
	color: #5C150E;
	border: solid 3px;
	border-color: #5C150E;
	padding: 5px;
}
.now__info {
	float: left;
	font-size: 13px;
}
.now__temp {
	float: left;
	font-size: 13px;
	margin-right: 10px;
}
.title__page {
	margin-top: 70px;
	color: #5C150E;
	font-size: 30px;
	text-align: center;

}
.searchT {
	margin-top: 10px;
	color: #5C150E;
	font-size: 30px;
	text-align: center;
}
.eventItems {
	border: solid 3px;
	border-color: #5C150E;
	background-color: #EBDB0A;
}
.eventItems > h3 {
	font-size: 13px;
	color: #5C150E;
}
.eventTitle {
	margin-left: 20px;
}
.linkS > a {
	text-decoration: none;
	color: #FAFAFA;
}
.searchItem {
	text-align: center;
	background-color: #00917A;
	padding: 5px 15px 5px 15px;
	border-radius: 15px;
}
.searchItem:hover {
	background-color: #EBDB0A;
}
.searchItem > a {
	text-decoration: none;
	color: #FAFAFA;
}
/*sport*/
.ghent-sportlocations>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.ghent-sportlocations>ul>li {
	padding: 0.5rem 1rem;
	border: solid 3px;
	border-color: #5C150E;
	margin-bottom: 0.5rem;
}
.ghent-sportlocations>ul>li:hover {
	background-color: #EBDB0A;
}
.ghent-sportlocations>ul>li:last-of-type {
	margin-bottom: 0;
}
.sportlocation__name {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	color: #5C150E;
}
.sportlocation__district {
	display: block;
	font-size: 1rem;
	color: #5C150E;
}
.sportlocation__sport {
	display: block;
	font-size: 0.8rem;
	color: #5C150E;
}
/*End - sport*/
/*Event*/
.GhentEvent>ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.GhentEvent>ul>a {
	text-decoration: none;
	display: block;
	margin-bottom: 0.5rem;
}
.GhentEvent>ul>a>li {
	padding: 0.5rem 1rem;
	border: solid 3px;
	border-color: #5C150E;
}
.GhentEvent>ul>a>li:hover {
	background-color: #EBDB0A;
}
.GhentEvent>ul>a>li:last-of-type {
	margin-bottom: 0;
}
.sportlocation__name {
	display: block;
	font-size: 1.2rem;
	font-weight: 700;
	color: #5C150E;
}
.sportlocation__district {
	display: block;
	font-size: 1rem;
	color: #5C150E;
}
.sportlocation__sport {
	display: block;
	font-size: 0.8rem;
	color: #5C150E;
}
/*End Event*/
.input {
	height: 40px;
	width: 100%;
	margin-top: 10px;
	border: 3px solid #5C150E;
}
.input:hover {
	border-color: #00917A;
}
#message {
	height: 100px;
	width: 100%;
}
.row > label {
	color: #5C150E;
	font-weight: bold;
}
#submit_button {
	margin: 0 auto;
	display: block;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.3rem;
	color: #FAFAFA;
	background-color: #00917A;
	padding: 5px 15px 5px 15px;
	border: none;
	margin-top: 15px;
}
#submit_button:hover {
	background-color: #EBDB0A;
}

/*Geolocation css */
#map-container {
	display: block;
}

#googleMap {
	height: 300px;
	width: 100%;
}
#mapid, #mapid2, #mapid3 {
	height: 300px;
	width: 100%;
	border: 3px solid #5C150E;
}

/*Searchbar*/
.sportlocationHidden {
	display: none;
}

#txtSearch {
	padding-left: 55px;
	height: 60px;
	width: 100%;
	background-color: white;
	border: 1px solid #5C150E;
	border-radius: 1px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
}
#txtSearch2 {
	padding-left: 55px;
	height: 60px;
	width: 100%;
	background-color: white;
	border: 1px solid #5C150E;
	border-radius: 1px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.14),0 2px 0px -1px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
}

.invoer > select > option {
	color: #5C150E;
}
.invoer > label {
	font-weight: bold;
	color: #5C150E;
	font-size: 1.3rem;
}
.vragen > footer > button {
	margin: 0 auto;
	display: block;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.3rem;
	color: #FAFAFA;
	background-color: #00917A;
	padding: 5px 15px 5px 15px;
	border: none;
	margin-top: 15px;


}
.vragen > footer > button:hover {
	background-color: #EBDB0A;
}
/*Quiz*/

.wrapper {
	width: 430px;
	margin: 0 auto;
	height: 100%;
	width: 100%;
}

#quiz {
	margin-top: 20px;
	border: 3px solid #5C150E;
	padding-bottom: 60px;
	width: 100%;
	color: #5C150E;
	text-align: center;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

#quiz > h1 {
	text-align: center;
	padding-top: 15px;
	font-size: 20px;
}

.questions {
	font-size: 16px;
	font-weight: 700;
	font-style: italic;
	border-top: 1px solid #5C150E;
	border-bottom: 1px solid #5C150E;
	padding: 20px;
}

.answers div {
	padding: 10px 0 0 0;
	font-size: 16px;
}

.answers div:hover {
	cursor: pointer;
	color: #00917A;
}

.answers {
	padding: 0px 0 10px 0px;
}

.answers div {
	width: 50%;
	margin: 0 auto;
	padding-bottom: 15px;
	border-top: 1px solid #5C150E;
}

.answers div:first-child {
	border: none;
}

.checker {
	display: inline-block;
	width: 200px;
	margin: 0 auto;
}

.correct, .false {
	background-color: #109D59;
	width: 60px;
	height: 30px;
	line-height: 30px;
	padding-left: 4px;
	float: left;
	margin-left: 2px;
	margin-top: 2px;
}

.false {
	background-color: #DC4437;
}
.footer {
	position: relative;
	height: 50px;
	width: 100%;

	background: #00917A;
	-webkit-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
	-moz-box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
	box-shadow: 0px -1px 16px 0px rgba(0,0,0,0.10);
}

.footer p {
	color: white;
	text-align: center;
	padding-top: 15px;
	font-size: 14px;

}

.footer a {
	color: white;
}

.footer a:hover {
	color:  #9A1736;
}
/*bios*/
.bios {
	width: 100%;
	border: solid 3px #5C150E;
	height: 100px;
	margin-bottom: 20px;
}
#iconBios {
	margin: 20px;
	width: 50px;
	height: auto;
}
#imgBios {
	float: right;
	margin: 15px;
	width: 90px;
	height: auto;
	border: 3px solid #5C150E;
}
#iconFilm {
	margin: 20px;
	width: 50px;
	height: auto;
}
#imgFilm {
	float: right;
	margin: 15px;
	width: 100px;
	height: auto;
	border: 3px solid #5C150E;
}
#book {
	margin: 20px;
	width: 50px;
	height: auto;
}
#imgBib {
	float: right;
	margin: 15px;
	width: 98px;
	height: auto;
	border: 3px solid #5C150E;
}
/*P404*/
.P404 {
	text-align: center;
	width: 100%;
	color: #5C150E;
}
/* Detail */
.images_detail img {
	max-width: 100%;
	height: auto;
	border: 3px solid #EBDB0A;
}
.images_detail {
	margin-top: 20px;
}
.title_detail {
	color: #5C150E;
	font-size: 24px;
	position: relative;
	bottom: 20px;
}
#subtitle_detail {
	olor: #5C150E;
	font-size: 18px;
	font-weight: bold;
	position: relative;
	bottom: 10px;
}
.subtitle_detail {
	color: #5C150E;
	font-size: 18px;
	font-weight: bold;
}
.text_detail {
	font-size: 16px;
}
.nieuws h3, h2{
	color: #5C150E;
}
.nieuws {
	margin: 0 auto;
	text-align: center;
}
.nieuws input {
	border: 3px solid #5C150E;
}
.nieuws input:hover {
	border: 3px solid #00917A;
}
#Tsub {
	text-align: center;
}
#nSub {
	margin: 0 auto;
	display: block;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.3rem;
	color: #FAFAFA;
	background-color: #00917A;
	padding: 5px 15px 5px 15px;
	border: none;
	margin-top: 15px;
	text-transform: uppercase;
}
#nSub:hover {
	margin: 0 auto;
	display: block;
	border-radius: 15px;
	font-weight: bold;
	font-size: 1.3rem;
	color: #FAFAFA;
	background-color: #EBDB0A;
	padding: 5px 15px 5px 15px;
	border: none;
	margin-top: 15px;
}


/*.titel {
	font-size: 24px;
	color: #FAFAFA;

	float: left;
}*/
/*
* Main Wrapper
*/
.main-wrapper {
	margin-top: 52px;
}

/* 
* baseline
*/
.baseline {
	font-size: 1rem;
}

.blue {
	background-color: #EBDB0A;
	height: 5px;
	width: 2000px;
	position: fixed;
	top:51px;
	z-index: 998;
}

/*
* Media queries
* Mobile first and then upscaling
*/
@media (min-width: 30rem) {
	.header__logo > h1 > a {
		width: 86px;
		height: 86px;
	}
	.header__navigation {
		width: 100%;
	}
	.header__navigation > ul > li {
		width: 50%;
	}
	.header__navigation > ul > li:last-of-type {
		width: 100%;
	}
	.header__navigation .navigation__item {
		height: 64px;
		line-height: 64px;
		
		text-align: center;
	}

	
	/*
	* Main Wrapper
	*/
	.main-wrapper {
		margin-top: 102px;
	}

	/*
	* Home
	*/
	#home header > h1 {
		padding: 0.5rem;
		
		font-size: 1.6rem;
	}
	#home .baseline {
		font-size: 1.2rem;
	}

}
@media (min-width: 42.5rem) {
	.offcanvas {
		display: none;
	}

	.header__navigation-toggle {
		display: none;
	}
	.nav_toggle {
		display: none;
	}
	.header__navigation {
		width: auto;
		display: block;
	}
	.header__navigation > ul > li {
		width: auto;
	}
	.header__navigation > ul > li:last-of-type {
		width: auto;
	}
	.header__navigation .navigation__item {
		height: 128px;
		line-height: 128px;
		
		text-align: left;
	}
	.blue {
		background-color: #EBDB0A;
		height: 10px;
		width: 2000px;
		position: fixed;
		top:144px;
		z-index: 998;
	}

	.header__logo {
		float: left;
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
	.new {
		margin: 0 auto;
		display: block;
		position: relative;
		top: 200px;
		padding-bottom: 100px;
		height: 200px;
		width: 200px;
		margin-bottom: 200px;

		background: url('../images/logo.png') no-repeat;
		background-size: cover;
	}
	.intro {
		margin-bottom: 50px;
		text-align: center;
		position: relative;
		top:30px;

	}

	.header__logo > h1 > a {
		display: block;
		width: 112px;
		height: 112px;
		margin-right: 30px;
		background: url('../images/logo2.png') no-repeat top left;
		background-size: cover;
	}

	.vragen {
		position: relative;
		top: 15px;
		padding-bottom: 200px;

	}
	.vragen > footer > button {
		margin-left: 45px;
		border-radius: 15px;
		font-weight: bold;
		font-size: 1.3rem;
		color: #FAFAFA;
		background-color: #00917A;
		padding: 5px 15px 5px 15px;
		border: none;
		margin-top: 15px;
	}
	.Wtitel {
		float: left;
		font-size: 30px;
		margin-right: 30px;
		margin-left: 10px;


	}
	.weather-widget {
		width: 800px;
		display: inline-block;
		color: #5C150E;
		border: solid 3px;
		border-color: #5C150E;
		padding: 5px;
	}
	.now__info {
		float: left;
		font-size: 30px;
	}
	.now__temp {
		float: left;
		font-size: 30px;
		margin-right: 40px;
	}
	.title__page {
		font-size: 40px;
		margin-top: 180px;
		color: #5C150E;
		text-align: left;
	}
	.searchT {
		margin-top: 40px;
		color: #5C150E;
		font-size: 40px;
		text-align: center;
	}
	.eventItems > h3 {
		font-size: 20px;
		color: #5C150E;
	}
	.input {
		height: 40px;
		width: 50%;
		margin-top: 10px;
	}
	#message {
		height: 150px;
		width: 50%;
	}
	#submit_button {
		float: left;
		border-radius: 15px;
		font-weight: bold;
		font-size: 1.3rem;
		color: #FAFAFA;
		background-color: #00917A;
		padding: 5px 15px 5px 15px;
		border: none;
		margin-top: 15px;
	}
	#fixT {
		margin-top:50px;
		font-size: 40px;
		margin-bottom: 0px;
	}
	/*Quiz*/

	.wrapper {
		width: 430px;
		margin: 0 auto;
		height: 100%;
	}

	#quiz {
		margin-top: 50px;
		border: 3px solid #5C150E;
		padding-bottom: 60px;
		width: 100%;
		color: #5C150E;
		text-align: center;
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}

	#quiz > h1 {
		text-align: center;
		padding-top: 25px;
		font-size: 20px;
	}

	.questions {
		font-size: 28px;
		font-weight: 700;
		font-style: italic;
		border-top: 1px solid #5C150E;
		border-bottom: 1px solid #5C150E;
		padding: 20px;
	}

	.answers div {
		padding: 10px 0 0 0;
		font-size: 16px;
	}

	.answers div:hover {
		cursor: pointer;
		color: #00917A;
	}

	.answers {
		padding: 0px 0 10px 0px;
	}

	.answers div {
		width: 50%;
		margin: 0 auto;
		padding-bottom: 15px;
		border-top: 1px solid #5C150E;
	}

	.answers div:first-child {
		border: none;
	}

	.checker {
		display: inline-block;
		width: 200px;
		margin: 0 auto;
	}

	.correct, .false {
		background-color: #109D59;
		width: 60px;
		height: 30px;
		line-height: 30px;
		padding-left: 4px;
		float: left;
		margin-left: 2px;
		margin-top: 2px;
	}

	.false {
		background-color: #DC4437;
	}
	.bios {
		width: 100%;
		border: solid 3px #5C150E;
		height: 200px;
		margin-bottom: 30px;
	}
	#iconBios {
		margin: 20px;
		width: 100px;
		height: auto;
	}
	#imgBios {
		float: right;
		margin: 20px;
		width: 220px;
		height: auto;
		border: 3px solid #5C150E;
	}
	#book {
		margin: 20px;
		width: 100px;
		height: auto;
	}
	#imgBib {
		float: right;
		margin: 20px;
		width: 230px;
		height: auto;
		border: 3px solid #5C150E;
	}
	#iconFilm {
		margin: 20px;
		width: 100px;
		height: auto;
	}
	#imgFilm {
		float: right;
		margin: 20px;
		width: 240px;
		height: auto;
		border: 3px solid #5C150E;
	}
	.images_detail img {
		max-width: 50%;
		height: auto;
		border: 3px solid #EBDB0A;
	}
	.images_detail {
		margin-top: 70px;
	}






	/*
	* Main Wrapper
	*/
	.main-wrapper {
		margin-top: 128px;
	}
	
	/*
	* Home
	*/
	#home header > h1 {
		padding: 1rem;
		
		font-size: 2rem;
	}
	#home .baseline {
		font-size: 1.4rem;
	}
}